@font-face {
    font-family: 'Tilda Sans';
    src: url('https://wasdrp.gq/public/loading/drp/fonts/TildaSans-Light.woff2');
    src: local('Tilda Sans Light'), local('TildaSans-Light'),
        url('https://wasdrp.gq/public/loading/drp/fonts/TildaSans-Light.woff2') format('woff2'),
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

